<!doctype html>
<title>My application deployed automatically</title>
  <h1>Welcome to My Program</h1>
    Result is {{result}} <br/>
  <body>
    Enter an array of elements using yaml format in the first form. <br/>
    The second form accepts a number. <br/>
    The third form accepts a single value. <br/>
    The value entered in third form is searched in the first form values. <br/>
    If there are second form number times third form value in the first form <br/>
    values then the result is True, else the result is False. <br/>  
  </body>
  <form action="compute" method="post">
<textarea name="input1" rows="10" cols="30">
</textarea>
<textarea name="input2" rows="10" cols="30">
</textarea>
<textarea name="input3" rows="10" cols="30">
</textarea>
<br>
  <input type="submit">
  </form>
